<html>
<head>
	<meta charset="utf-8">
	<title>Message Board</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script type="text/javascript"></script>
	<style type="text/css">
		#container {
			background: pink;
			padding: 20px;
			margin: 0 auto;
		}

		#container h1 {
			border: 2px dotted green;
			border-radius: 10px;
			padding: 10px;
		}

		#container form {
			text-align: center;
			background-color: blue;
			color: red;
			font-weight: bold;
		}
		.messages {
			margin: 10px;
			background: orange;
			border: 10px groove green;
			padding: 10px;
			text-align :center;
		}
		.comments {
			background-color: purple;
			padding: 10px;
			margin-left: 20px;
			border: 5px dashed aqua;
			border-radius: 15px;
			color: white;
			text-align :center;
		}

		.messages form {
			margin: 10px;
			text-align: center;
			background-color: chartreuse;
			border: ridge 15px plum;
		}
	</style>
</head>
<body>
	<div id="container">
		<h1>The Dojo Message Board</h1>
		<form '/create_message' method="post" id="message">
			<p>Name: </p> <input type="text" name="name">
			<p>Message: </p> <textarea name="message"></textarea>
			<br>
			<button>Post a Message</button>
		</form>

		<div class="messages">
			<h4>Name: Joe</h4>
			<h4>Message: The h5 tag sucks</h4>
			<div class="comments">
				<h6>Name: Vu</h6>
				<h6>Comment: I agree</h6>
			</div>
			<form action="/create_comment" method="post">
				<p>Name: </p> <input type="text" name="name">
				<p>Comment: </p> <textarea name="comment"></textarea>
				<br>
				<button>Post a comment!</button>
			</form>
		</div>

	</div>

</body>
</html>